<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<blockquote>
    <p align="right">Директору ООО ТК «Клевер»</p>
    <p align="right">&nbsp;Орленко В. И.</p>
    <p align="right">{{ workers.position }}</p>
    <p align="right">{{ workers.fio }}</p>
    <p align="right">Дата: _________</p>
    <p style="text-align: center;"><strong>Заявление № __________</strong></p>
    <p>Прошу Вас расторгнуть трудовой договор № ____________ от _____________ и уволить меня по собственному желанию ____________________ года.</p>
    <p align="right">{{ workers.fio }}</p>
    <p align="right">__________</p>
</blockquote>
</body>
</html>