<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Заявление</title>
</head>
<body>
<blockquote>
    <p align="right">Директору ООО ТК «Клевер»</p>
    <p align="right">&nbsp;Орленко В. И.</p>
    <p align="right">{{ workers.fio }}</p>
    <p align="right">Дата: _________</p>
    <p style="text-align: center;"><strong>Заявление</strong></p>
    <p>Прошу принять меня на работу в ООО ТК «Клевер» на должность ______________ с ____________ с окладом _____________ по штатному расписанию.</p>
    <p>&nbsp;</p>
    <p align="right">{{ workers.fio }}</p>
    <p align="right">__________</p>
</blockquote>
</body>
</html>