<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<blockquote>
    <p align="right">Директору ООО ТК «Клевер»</p>
    <p align="right">&nbsp;Орленко В. И.</p>
    <p align="right">{{ workers.position }}</p>
    <p align="right">{{ workers.fio }}</p>
    <p align="right">Дата: _________</p>
    <p style="text-align: center;"><strong>Заявление</strong></p>
    <p>Прошу перевести меня на работу в отдел ________________ на должность _______________ с ___________. &nbsp;&nbsp;С условиями работы ознакомлен, согласен.</p>
    <p align="right">{{ workers.fio }}</p>
    <p align="right">__________</p>
</blockquote>
</body>
</html>