{% extends 'manager/base.html' %}
{% load static %}
{% block content %}
    <div class="main-block" style="background-image: url({% static 'manager/img/applications.jpg' %});">
            <h2 style="margin-left: 53%;
            padding: 15px;
            background: rgba(60, 60, 60, 0.5);
            border-radius: 5px;
            width: 16%">Заявления</h2>
    </div>
    <form action="{% url 'filter' %}" method="get">
        <div class="second-block" style="background-image: url({% static 'manager/img/second-block.jpg' %});
                                         background-size: cover;">
            <ul class="horizontal">
                    <li>
                        <input type="checkbox" class="checked" style="width: 5%;" name="document_type" value="1">
                        <span class="span editContent">Прием</span>
                    </li>
                    <li>
                        <input type="checkbox" class="checked" style="width: 5%;" name="document_type" value="2">
                        <span class="span editContent">Перевод</span>
                    </li>
                    <li>
                        <input type="checkbox" class="checked" style="width: 5%;" name="document_type" value="3">
                        <span class="span editContent">Увольнение</span>
                    </li>
                    <li>
                        <input type="text" name="search-order" placeholder="Введите текст для поиска">
                    </li>
                    <li>
                        <button type="submit" class="btn btn-dark"> <i class="fa-solid fa-magnifying-glass"></i> Найти </button>
                    </li>
            </ul>
        </div>
    </form>
    <br>
<table class="table table-hover table-bordered" style = "width: 70%; margin-left: 25%; margin-right: auto;">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Номер заявления</th>
            <th scope="col">ФИО</th>
            <th scope="col">Тип документа</th>
            <th scope="col">Дата заявления</th>
            <th scope="col">PDF</th>
            <th scope="col">< </th>
            <th scope="col">Статус </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            {% for app in applications %}
            <td>{{ app.application_number }}</td>
            <td><a href="/worker_detail/{{ app.worker.worker_id }}" target="_blank">{{ app.worker.fio }}</a></td>
            <td>{{ app.document_type.document_type_name }}</td>
            <td>{{ app.application_date }}</td>
            <td><a href="/media/{{ app.application_pdf_path }}" target="_blank"> Файл </a></td>
            <td><a href="/new_app/{{ app.application_id }}" target="_blank"><i class="fa-regular fa-pen-to-square"></i></a></td>
                {% if app.application_id in order_id_list %}
                    <td><i class="fa-solid fa-circle-check" style="color:green; padding-left: 25px;"></i></td>
                {% else %}
                    <td><i class="fa-solid fa-circle-xmark" style="color:red; padding-left: 25px;"></i></td>
                {% endif %}
        </tr>
            {% endfor %}
    </tbody>
</table>

{% endblock %}