{% extends 'manager/base.html' %}
{% load static %}
{% block content %}
<div class="main-block" style="background-image: url({% static 'manager/img/dog.jpg' %});">
            <h2 style="margin-left: 53%;
            padding: 15px;
            background: rgba(60, 60, 60, 0.5);
            border-radius: 5px;
            width: 16%">Трудовые договоры</h2>
    </div>
<form action="{% url 'filter_contracts' %}" method="get">
        <div class="second-block" style="background-image: url({% static 'manager/img/second-block.jpg' %});
                                         background-size: cover;">
            <ul class="horizontal">
                    <li>
                        <input type="checkbox" class="checked" style="width: 5%;" name="status" value="1">
                        <span class="span editContent">Актуальные</span>
                    </li>
                    <li>
                        <input type="checkbox" class="checked" style="width: 5%;" name="status" value="0">
                        <span class="span editContent">Неактуальные</span>
                    </li>
                    <li>
                        <input type="text" name="search-order" placeholder="Введите текст для поиска">
                    </li>
                    <li>
                        <button type="submit" class="btn btn-dark"> <i class="fa-solid fa-magnifying-glass"></i> Найти </button>
                    </li>
            </ul>
        </div>
    </form>
<br>
<table class="table table-hover table-bordered" style = "width: 70%; margin-left: 25%; margin-right: auto;">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Номер договора</th>
            <th scope="col">ФИО</th>
            <th scope="col">Отдел</th>
            <th scope="col">Должность</th>
            <th scope="col">Статус</th>
            <th scope="col">PDF</th>
            <th scope="col"> < </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            {% for contract in contracts %}
            <td>{{ contract.contract_number }}</td>
            <td><a href="/worker_detail/{{ contract.worker.worker_id }}" target="_blank">{{ contract.worker.fio }}</a></td>
            <td>{{ contract.worker.position.department }}</td>
            <td>{{ contract.worker.position }}</td>
            <td>{{ contract.status }}</td>
            <td><a href="/media/{{ contract.contract_pdf_path }}" target="_blank"> Файл </a></td>
            <td><a href="/new_contract/{{ contract.contract_id }}" target="_blank"><i class="fa-regular fa-pen-to-square"></i></a></td>
        </tr>
            {% endfor %}
    </tbody>
</table>

{% endblock %}