{% extends 'manager/base.html' %}
{% load static %}
{% block content %}
<div class="main-block" style="background-image: url({% static 'manager/img/log.jpg' %});">
            <h2 style="margin-left: 53%;
            padding: 15px;
            background: rgba(60, 60, 60, 0.5);
            border-radius: 5px;
            width: 16%">Журнал регистрации</h2>
    </div>
    <form action="{% url 'filter_log' %}" method="get">
        <div class="second-block" style="background-image: url({% static 'manager/img/second-block.jpg' %});
                                         background-size: cover;">
            <ul class="horizontal">
                    <li>
                        <input type="checkbox" class="checked" style="width: 5%;" name="document_type" value="1">
                        <span class="span editContent">Прием</span>
                    </li>
                    <li>
                        <input type="checkbox" class="checked" style="width: 5%;" name="document_type" value="2">
                        <span class="span editContent">Перевод</span>
                    </li>
                    <li>
                        <input type="checkbox" class="checked" style="width: 5%;" name="document_type" value="3">
                        <span class="span editContent">Увольнение</span>
                    </li>
                    <li>
                        <button type="submit" class="btn btn-dark"> Найти </button>
                    </li>
            </ul>
        </div>
    </form>
<br><br>
<table class="table table-hover table-bordered" style = "width: 70%; margin-left: 25%; margin-right: auto;">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Номер</th>
            <th scope="col">ФИО</th>
            <th scope="col">Должность</th>
            <th scope="col">Номер приказа</th>
            <th scope="col">Дата приема</th>
            <th scope="col">Вид приказа</th>
            <th scope="col">Основание приказа</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            {% for order in orders %}
            <td>{{ order.order.application_id }}</td>
            <td><a href="/worker_detail/{{ order.order.worker.worker_id }}" target="_blank">{{ order.order.worker.fio }}</a></td>
            <td>{{ order.order.worker.position.position_name }}</td>
            <td><a href="/media/{{ order.order_pdf }}" target="_blank">{{ order.order_number }}</a></td>
            <td>{{ order.order_date }}</td>
            <td>{{ order.order.document_type.document_type_name }}</td>
            <td> Заявление: <a href="/media/{{ order.order.application_pdf_path }}" target="_blank">{{ order.order.application_number }}</a> </td>
        </tr>
            {% endfor %}
    </tbody>
</table>

{% endblock %}