{% extends 'manager/base.html' %}
{% load static %}
{% block content %}
    <div class="main-block" style="background-image: url({% static 'manager/img/magma.jpg' %});">
            <h2 style="margin-left: 53%;
            padding: 15px;
            background: rgba(60, 60, 60, 0.5);
            border-radius: 5px;
            width: 16%">Приказы</h2>
    </div>
<br><br>
<table class="table table-hover table-bordered" style = "width: 70%; margin-left: 25%; margin-right: auto;">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Номер приказа</th>
            <th scope="col">ФИО</th>
            <th scope="col">Основание</th>
            <th scope="col">Тип документа</th>
            <th scope="col">Дата заявления</th>
            <th scope="col">PDF</th>
            <th scope="col"><</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            {% for order in orders %}
            <td>{{ order.order_number }}</td>
            <td><a href="/worker_detail/{{ order.order.worker.worker_id }}" target="_blank">{{ order.order.worker.fio }}</a></td>
            <td> Номер заявления: <a href="/media/{{ order.order.application_pdf_path }}" target="_blank"> {{ order.order.application_number }} </a></td>
            <td>{{ order.order.document_type.document_type_name }}</td>
            <td>{{ order.order_date }}</td>
            <td><a href="/media/{{ order.order_pdf }}" target="_blank"> Файл </a></td>
            <td><a href="/new_order/{{ order.order.application_id }}" target="_blank"><i class="fa-regular fa-pen-to-square"></i></a></td>
        </tr>
            {% endfor %}
    </tbody>
</table>

{% endblock %}